/**************************/
/**       Global         **/
/**************************/
body {
	font-family: 'Lexend', sans-serif;
	padding:25px;
	margin:0px;
	// background-image: url("../images/princetonwalks-logo.svg");
	// background-position: bottom center;
	// background-repeat: no-repeat;
	// background-size: contain;
	
	@media (max-width: $MidWidth){ 
    }
	
}
#heroimage {
	max-width:720px;
	@media (max-width: $MidWidth){
		max-width:100%;
	}
}
.slider-images {
	display:inline-flex;
	max-height:250px;
	@media (max-width: $MidWidth){
		max-height:50px;
	}
}
.slider-single {
	filter: grayscale(1);
	max-height:250px;
	margin-top:1px;
	max-width:calc(20% - 2px);
	transition: filter 0.4s;
	margin-right:2px;
}
.slider-single:hover {
	filter: grayscale(0);
	transition: filter 0.4s;
	outline:2px white solid;
}
.container-body {
    /* Rectangle 40 */
    display: flex;
    width:100%;
	max-width:1440px;
	@media (max-width: $MidWidth){
		max-width:100%;
	}
    height:100%;
    background: #F3F3F3;
    background-image:url("../images/icons/svg-corner-mask-1.svg");
    /* background-position-x: -10px;
    background-position-y: -10px;  */
    background-size: 170px;
    border-radius:0px 50px 50px 50px;
    background-repeat: no-repeat;
	margin:0 auto;
    /* border: 4px solid #000000; */
}
.full-container {
	border-radius: 10px;
	padding:25px;
	max-width:1400px;
	@media (max-width: $MidWidth){
		max-width:100%;
	}
	margin:0 auto;
	background: #F3F3F3;
    background-image:url("../images/icons/svg-corner-mask-1.svg");
    /* background-position-x: -10px;
    background-position-y: -10px;  */
    background-size: 170px;
    border-radius:0px 50px 50px 50px;
    background-repeat: no-repeat;
}

section {
	max-width: $MaxWidth;
	margin: 0 auto;
}

.show {
	display:block;
}
.hide {
	display:none;
}

/**************************/
/**    HERO   
/**************************/
.hero {
	display:flex;
	flex:2;
	margin-top:2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	column-gap: 25px;
	
	@media (max-width: $MidWidth) { 
    flex-direction: column;
    }
}
.hero-copy {
	text-align:left !important;
	padding:45px;
	h1 {
		font-size:2.6em;
	}
	h3 {
		font-size:1em;
		text-align:left;
	}
	p {
		font-size:18px;	
	}
}
.gradient {
	background: #25A7CF;
	background: linear-gradient(to right, #25A7CF 0%, #23538A 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-image {
	display:flex;
	flex:3;
}

/**************************/
/**    MAIN BODY   
/**************************/
.main-body {
	padding:25px 75px 75px 75px;
	display: flex;
}
.body-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.body-3 {
	background-color: #ffffff;
	border: 2px solid #d9d9d9;
	border-radius:25px;
	padding:50px;
	background: url(../images/background-wave.svg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

/**************************/
/**   CONTAINERS
/**************************/

.body-container {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	margin-bottom: 50px;
}

.body-container-unit {
	flex: 6;
	background-color: #F1F1F1;
	border: 2px solid #d9d9d9;
	border-radius:10px;
	padding:25px;
}
.body-container-unit > h3 {
	text-align: left;
}

.body-container-unit-icon {
	max-height:7rem;
	max-width: 10rem;
}
.text-plus {
	color: #8DBD1A;
}

/**************************/
/**    Pricing Page   **/
/**************************/
.comparison-list {
  display: inline;
  float: left;
  list-style: none;
  margin:0px;
  padding:0px;
}

.comparison-list > li {
	/* display: block; */
	width:100%;
	padding: 10px 0px;
	margin-bottom:10px;
	border-bottom:2px dotted #d9d9d9;
	color: #565656;
	font-weight:300;
}

.comparison-list > li:last-of-type {
	border-bottom:none !important;
}

.last-comparison-element {
	border-bottom:solid 2px #d9d9d9 !important; 
}

.comparison-list-image {
	max-width:30px;
	max-height:22px;
}

.content {
	background-color:white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/**************************/
/**       Header         **/
/**************************/

.hero-left {
	width:45%;
	display:block;
	position:relative;
	float:left;
	height:100vh;
	padding:50px 0px 0px 100px;
}

.hero-right {
	width:45%;
	display:block;
	position:relative;
	float:right;
	height:100vh;
}

.final-footer {
	position: relative;
	float: left;
	bottom: 0px;
	text-align: center;
	font-weight: 600;
	width: 100%;
	padding: 10px;
	color: #465364;
}

  .right > img {
	margin:20vh 15vh 0vh;  display: block; height:50vh; vertical-align: middle;
  }
.hero-body {
	/*display:inline-block;*/
	width:100%;
	padding:50px 0px 0px 100px;
}

.hero-logo {
	display:inline-block;
	height:auto;
	margin:0 auto;
	position: relative;
	float:left;
}

.container {
  padding: 20px 0px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/**************************/
/**         Footer       **/
/**************************/
.final-footer {
	position:relative;
	float:left;
	bottom:0px;
	text-align: center;
	font-weight: 600;
	width:100%;
	padding:10px;
	color:#465364;
}
.span-heart {
	color:red;
}





.imagediff {
width:100%;
}
.image-container{width:32%; height:auto; display:inline-block;position: relative;float: left;}
.snippet-container {margin-top:100px; z-index:500; padding:25px;}


/* ------------------- */
/*       Desktop       */
/* ------------------- */
@media (min-width: 813px) {
#sidebar {
  width:250px;
  height:100%;
  position:relative;
  float:left;
  padding:50px;
  font-family: 'Raleway', sans-serif;
}
#main-gallery {
  width:60%;
  height:auto;
  position: relative;
  float:left;
  padding:25px;
}
.img-large {
  width:90%;
  margin:25px auto;
  position:relative;
  float: left;
}
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* ------------------- */
/*        Mobile       */
/* ------------------- */
@media (max-width: 812px) {
#sidebar {
  width:250px;
  height:100%;
  position:relative;
  float:left;
  padding:50px;
  font-family: 'Rubik', sans-serif;
}
#main-gallery {
  width:100%;
  height:auto;
  position: relative;
  float:left;
  padding:25px;
}
.img-large {
  width:calc(100% - 50px);
  margin:25px 0px;
  position:relative;
  float: left;
}
}




/* ------------------- */
/*        Stripe Pricing Table       */
/* ------------------- */
.PriceColumn-button {
	display:none !important;
}

.tour-icon {
	width:100px;
	max-height:100px;
	margin:5px auto;
}